<h2>Show load test</h2>

<ul>

  <li>
    <strong>Amount of requests:</strong>
    <%= @load_test.amount_of_requests %>
  </li>

  <li>
    <strong>Successful requests:</strong>
    <%= @load_test.successful_requests %>
  </li>

  <li>
    <strong>Average request time:</strong>
    <%= @load_test.average_request_time %>
  </li>

  <li>
    <strong>Plan:</strong>
    <%= @load_test.plan %>
  </li>

</ul>

<%= link "Edit", to: load_test_path(@conn, :edit, @load_test) %>
<%= link "Back", to: load_test_path(@conn, :index) %>
